<section markdown="1">
<p>Tim Stackhouse<br />
<a href="mailto:tim@tstackhouse.com">tim@tstackhouse.com</a><br />
Philadelpha Area, USA</p>

<p><a href="http://www.twitter.com/timstackhouse"><i class="fa fa-twitter fa-3"></i></a>
<a href="http://www.facebook.com/tstackhouse"><i class="fa fa-facebook-square fa-3"></i></a>
<a href="http://www.github.com/tstackhouse"><i class="fa fa-github fa-3"></i></a>
<a href="http://www.linkedin.com/in/tstackhouse"><i class="fa fa-linkedin-square fa-3"></i></a>
<a href="https://stackexchange.com/users/3362227/tstackhouse"><i class="fa fa-stack-exchange fa-3"></i></a></p>

<p>&quot;We can only see a short distance ahead, but we can see plenty there that needs to be done.&quot; \
--<em>Alan Turing, 1950</em></p>
</section>
