// ===== Variables ====================================================================================================
@page-bg: #2c3e50;
@main-body-bg: white;
@masthead-base: #ecf0f1;

@page-text: contrast(@page-bg);
@page-text-muted: overlay(@page-bg, @page-text);
@page-text-muted-hover: overlay(@page-bg, @page-text-muted);

@page-links: average(@page-text, @page-text-muted);
@page-links-hover: average(@page-links, @page-text);

@accent: lighten(saturate(spin(@page-bg, 180), 100%), 30%);
// ===== End Variables ================================================================================================



// ===== Mixins =======================================================================================================
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.masthead-bg-icon {
	font-family: FontAwesome;
	content: '\f1d8';
	position: absolute;
	right: -10px;
	bottom: -140px;
	font-size: 210px;
	color: fade(@accent, 40%);
}
// ===== End Mixins ===================================================================================================



// ===== Main Styles ==================================================================================================
body {
	background-color: @page-bg;
}
.navbar {
	margin-bottom: 0;
	background-color: @page-bg;
}
.navbar-nav>li>a {
	&:hover,
	&:focus {
		background-color: @page-text-muted;
	}
}
.navbar, footer {
	color: @page-text;
	a, button {
		color: @page-links;
		&:hover {
			color: @page-links-hover;
		}
	}
	.icon-bar {
			background-color: @page-links;
	}
	.text-muted {
		color: @page-text-muted;
	}
}
.page-header {
	margin-top: 10px;
	border-bottom: none;
}
.sidebar {
	section {
		border-radius: 6px;
		background-color: @masthead-base;
		border-top: 5px solid @page-text-muted;
		border-bottom: 5px solid @page-text-muted;
		padding: 15px;
		p:last-child {
			margin-bottom: 0;
		}
	}
	.fa-2 {
		font-size: 2em;
	}
	.fa-3 {
		font-size: 3em;
	}
	.fa-4 {
		font-size: 4em;
	}
	.fa-5 {
		font-size: 5em;
	}
	.fa-6 {
		font-size: 6em;
	}
}
main,
header.front {
	background-color: @main-body-bg;
}
main {
	padding-top: 30px;
	padding-bottom: 60px;
	a {
		color: @page-text-muted;
		&:hover {
			color: @page-text-muted-hover;
		}
	}
}
.masthead {
	// .gradient(@masthead-base, spin(@masthead-base, 15));
	background-color: @masthead-base;

	color: contrast(@masthead-base);

	header & {
		margin-top: 20px;
		position: relative;
		overflow: hidden;
		h1 {
			margin-top: 0;
		}
		&:after {
			.masthead-bg-icon;
		}
	}

	header &.jumbotron {
		margin-bottom: 0;
	}

	header& {
		border-bottom: 1px solid contrast(@masthead-base, darken(@masthead-base, 5%), lighten(@masthead-base, 10%), 15%);
		overflow: hidden;
		padding-bottom: 20px;
		.container {
			position: relative;
			&:after {
				.masthead-bg-icon;
				right: -3px;
				bottom: -80px;
				font-size: 140px;
			}
		}
	}
}

.tag_box.inline li {
  float: right;
}

.posts {
	margin-bottom: 30px;
}

article {
	text-align: justify;

	.meta {
		text-align: right;
		border-right: 1px solid @accent;
		padding-right: 13px;
	}

	&:after {
		content: '';
		display: block;
		border-top: 2px solid @masthead-base;
		width: 70%;
		margin: 30px auto;
	}

	&:last-child:after {
		display: none;
	}
}

footer {
	margin-top: 15px;
}
// ===== Main Styles ==================================================================================================



// ===== End of File styles.less ======================================================================================
